@font-face {
    font-family: "JetBrainsMono NFM";
    src: url("JetBrainsMono\ Nerd\ Font\ Mono.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    background-color: #eff1f5;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #e6e9ef;
    margin-top: auto;
}

h1,
h2,
h3,
h4,
p,
a,
code,
li,
span,
dt,
dd,
button {
    color: #4c4f69;
    font-family: "JetBrainsMono NFM";
}

a {
    color: #8839ef;
}

code {
    background-color: #e6e9ef;
    border-radius: 5px;
}

#lcktext {
    color: #df8e1d;
    text-align: center;
    font-size: 48pt;
    font-weight: 700;
    cursor: pointer;
}

#lcklogo {
    width: 128px;
    height: auto;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    cursor: pointer;
}

#top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    background-color: #e6e9ef;
}

.ribbon-btn {
    position: absolute;
    right: 0;
    top: 0;
    background: #00000000;
    color: #4c4f69;
    border: transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 25px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16pt;
    transition: 0.2s;
}

.ribbon-btn:hover {
    font-size: 20pt;
    transition: 0.2s;
}

#footertext {
    font-size: 9pt;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #6c6f85;
}

#textcontent {
    text-align: center;
}

.link {
    cursor: pointer;
}

#license {
    text-align: center;
}

#maincontent {
    margin: 5px;
}

#bigerror {
    font-size: 48pt;
    cursor: pointer;
    text-align: center;
}

#bigerror2 {
    font-size: 40pt;
    cursor: pointer;
    text-align: center;
}

.error {
    color: #d20f39;
}

.warning {
    color: #df8e1d;
}

.info {
    color: #1e66f5;
}

.todo {
    color: #8839ef;
}

.srsly {
    color: #fe640b;
}

.invis {
    color: #eff1f5;
}

#red {
    color: #d20f39;
}

#mauve {
    color: #8839ef;
}

#peach {
    color: #fe640b;
}

#yellow {
    color: #df8e1d;
}

#teal {
    color: #179299;
}

#blue {
    color: #1e66f5;
}

#o2 {
    color: #7c7f93;
}
