<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="darkreader-lock">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Lemoncake</title>
</head>
<body>
    <div id="top">
        <img src="{{ url_for('static', filename='logo.png') }}" id="lcklogo" onclick="gohome();">
        <p id="lcktext" onclick="gohome();">Lemoncake</p>
    </div>

    <div id="maincontent">
        <p id="textcontent">
        <a class="error" id="bigerror" onclick="changeError();">(X_X)</a>
        <br>
        <a class="error" id="bigerror2" onclick="changeError();">[ERROR]: Unable to find this page!</a>
        </p>
    </div>
</body>
</html>